<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Game</title>
    <link rel="stylesheet" href="/form.scss" />
  </head>
  <body>
    <h1>Add New Game</h1>
    <form action="" method="POST">
      <label for="gameName">Name (case-sensitive): </label>
      <input type="text" name="gameName" id="gameName" required />

      <label for="studio">Select Studio </label>
      <select name="studioName" id="studioName">
        <option value="">Select</option>
        <% studioList.forEach(item => { %>
        <option value="<%= item.studio_name %>"><%= item.studio_name %></option>
        <% }) %>
      </select>
      <br /><br />
      Select Category: <br /><br />
      <% categoryList.forEach(item => { %>
      <input
        type="checkbox"
        id="category"
        name="category"
        value="<%= item.category_name %>"
      />
      <label for="<%= item.category_name %>"><%= item.category_name %></label
      ><br />

      <% }) %>

      <button type="submit">Submit</button>
    </form>
    <h4>
      Didn't find your desired studio or category? Add the concerned from below
      ways:
    </h4>
    <a href="/addStudio">Add New Studio</a><br /><br />
    <a href="/addCategory">Add New Category</a><br /><br />
    <a href="/">Back to home</a>
  </body>
</html>
